                                    /*SECTIONS STYLES */

/*Products*/
#products-section {
    display: flex;
    flex-direction: column;
}

.products-section-box {
    display: flex;
    flex-direction: row;
}


.item-list-aside-column {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){

    .products-section-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .item-list-aside-column{
        margin-top: 10%;
    }
}

.item-list-products-column {
    display: flex;
    flex-direction: column;
    margin-top: 5% !important;
}





/* ITEMLIST CARD */

.card {
    display: flex !important;
    flex-direction: row !important;
    height: 200px;
    margin: -0.5px !important;
    border-radius: 4px 4px 0 0 !important; 
    border: 0.5px solid rgba(0,0,0,.125);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-img-top {
    width: 80%;
    height: 80%;
}

.card-title {
    text-align: left !important;
}

@media (max-width: 768px){
    .card{
        grid-column-gap: 0px !important;
    }
    .card-title, .card-text {
        font-size: 0.85rem;
    }
    .card-text-small {
        font-size: 0.45rem;
    }
}